:root {
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
body {
  background-image: url(visuals/anslagstavla.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Caveat", cursive;
}
h1 {
  font-size: 58px;
  background-color: #d7f9cd;
  width: 500px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 5px;
}
h2 {
  background-color: #efe2a2;
  width: 300px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.post-it-my-projects {
  width: 350px;
}
.div-projects {
  text-align: end;
}
.post-it-contact {
  width: 280px;
}
.div-contact {
  text-align: start;
}
.post-it-education {
  width: 300px;
}
.div-education {
  text-align: center;
}
.post-it-about-me {
  width: 350px;
}
.div-about-me {
  text-align: center;
}
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-link-1,
.nav-link-2,
.nav-link-3,
.nav-link-4 {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 5px 20px;
  margin: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
.nav-link-1 {
  background-color: #cc7ac0;
  border: solid 2px #8d5585;
}
.nav-link-2 {
  background-color: #fced5e;
  border: solid 2px #baaf47;
}
.nav-link-3 {
  background-color: #5efdca;
  border: solid 2px #41b590;
}
.nav-link-4 {
  background-color: #5a9ff1;
  border: solid 2px #3c669a;
}
.project-img {
  width: 260px;
}

.project {
  text-align: center;
}
.card {
  display: block;
  margin: 0 auto;
  font-family: "Comic Neue", cursive;
  margin-bottom: 20px;
}
iframe {
  height: 250px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 400px) {
  .menu {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  h1 {
    width: 300px;
    font-size: 45px;
  }
}
