:root {
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
body {
  background-image: url(visuals/anslagstavla.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Caveat", cursive;
}
h1 {
  font-size: 58px;
  background-color: #d7f9cd;
  width: 500px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 5px;
}
h3 {
  background-color: #efe2a2;
  width: 300px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
h2 {
  text-align: center;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 35px;
}
.post-it-my-projects {
  width: 350px;
}
.div-projects {
  text-align: end;
}
.post-it-contact {
  width: 280px;
}
.div-contact {
  text-align: start;
}
.post-it-education {
  width: 300px;
}
.div-education {
  text-align: center;
}
.post-it-about-me {
  width: 350px;
}
.div-about-me {
  text-align: center;
}
.post-it-quote {
  width: 330px;
  display: block;
  margin: 0 auto;
}
/*Projects*/
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-link-1,
.nav-link-2,
.nav-link-3,
.nav-link-4 {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 5px 20px;
  margin: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
.nav-link-1 {
  background-color: #cc7ac0;
  border: solid 2px #8d5585;
}
.nav-link-2 {
  background-color: #fced5e;
  border: solid 2px #baaf47;
}
.nav-link-3 {
  background-color: #5efdca;
  border: solid 2px #41b590;
}
.nav-link-4 {
  background-color: #5a9ff1;
  border: solid 2px #3c669a;
}
.project-img {
  width: 260px;
}

.project {
  text-align: center;
}
.card {
  display: block;
  margin: 0 auto;
  font-family: "Comic Neue", cursive;
  margin-bottom: 20px;
}
iframe {
  height: 250px;
  display: block;
  margin: 0 auto;
}

/*About Me*/
.h2-about-me {
  background-color: #f7d7e1;
}

.berlin,
.handcraft-cake,
.hiking {
  width: 330px;
}
.about-me-text {
  font-size: 25px;
  margin-top: 70px;
}
.container-about {
  background-color: #f9eaaf;
  margin: 30px;
}
/* Contact*/
.h2-contact {
  background-color: #c8e3f7;
  margin-bottom: 60px;
}
.needle {
  width: 40px;
}
.contact {
  text-align: center;
  margin-top: 30px;
}
.contact-info {
  font-size: 25px;
  background-color: #f7d7e1;
  padding: 5px 40px;
  margin-left: 30px;
}
.contact-info a {
  text-decoration: none;
  color: #000000;
}
/*Education*/
h4 {
  font-size: 30px;
  text-align: center;
}
.h2-education {
  background-color: #bdf9e5;
}

.needle2 {
  width: 40px;
}
.coding-courses {
  display: flex;
  justify-content: center;
}
.education-text {
  background-color: #fce6c5;
  padding: 30px;
  margin-bottom: 50px;
}
.education-info {
  font-size: 20px;
  font-family: "Comic Neue", cursive;
}
.education-name {
  font-size: 25px;
}
.final-project {
  font-size: 20px;
  background-color: #bdf9e5;
  padding: 5px;
  text-align: center;
  width: 100px;
}
.final-project a {
  text-decoration: none;
  color: #000000;
}
.education-city {
  font-size: 20px;
}

@media (max-width: 400px) {
  .menu {
    flex-direction: column;
  }
  h2 {
    width: 250px;
  }
  .contact-info {
    font-size: 15px;
    margin-left: 30px;
    padding: 5px 15px;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  h1 {
    width: 300px;
    font-size: 45px;
  }
  .post-it-my-projects {
    width: 250px;
  }
  .post-it-contact {
    width: 180px;
  }
  .post-it-education {
    width: 230px;
  }
  .post-it-about-me {
    width: 250px;
  }
  .post-it-quote {
    width: 230px;
  }
}
@media (max-width: 600px) {
  .post-it-quote {
    position: relative;
    left: 100px;
  }
}
@media (max-width: 1200px) {
  .needle2 {
    visibility: hidden;
  }
  h3 {
    width: 200px;
  }
}
