:root {
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
body {
  background-image: url(visuals/anslagstavla.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Caveat", cursive;
}

.name-pic {
  width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro-text {
  background-color: #d7f9cd;
  width: 600px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 20px;
}
.wonder {
  color: #fe5ee6;
}
.intro-2 {
  font-size: 15px;
  font-family: "Montserrat Alternates", sans-serif;
}

h2 {
  text-align: center;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 35px;
}
.h2-projects {
  background-color: #efe2a2;
  margin-bottom: 30px;
}
.post-it-my-projects {
  width: 350px;
}
.div-projects {
  text-align: end;
}
.post-it-contact {
  width: 280px;
}
.div-contact {
  text-align: start;
}
.post-it-todo {
  width: 300px;
}
.div-todo {
  text-align: center;
}
.post-it-about-me {
  width: 350px;
}
.div-about-me {
  text-align: center;
}
.post-it-quote {
  width: 330px;
  display: block;
  margin: 0 auto;
}
.post-it-link img:hover {
  transform: scale(-1);
}
.polaroid {
  width: 250px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu a:hover {
  color: #000000;
}

.nav-link-1,
.nav-link-2,
.nav-link-3,
.nav-link-4 {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 5px 20px;
  margin: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}

.nav-link-1 {
  background-color: #cc7ac0;
  border: solid 2px #8d5585;
}
.nav-link-1:hover {
  background-color: #dd97d3;
  border: solid 2px #8d5585;
  transition: all 200ms linear/ease-in-out;
}
.nav-link-2 {
  background-color: #fced5e;
  border: solid 2px #baaf47;
}
.nav-link-2:hover {
  background-color: #fcf39c;
  border: solid 2px #baaf47;
  transition: all 200ms linear/ease-in-out;
}
.nav-link-3 {
  background-color: #5efdca;
  border: solid 2px #41b590;
}
.nav-link-3:hover {
  background-color: #9afcdd;
  border: solid 2px #41b590;
  transition: all 200ms linear/ease-in-out;
}
.nav-link-4 {
  background-color: #5a9ff1;
  border: solid 2px #3c669a;
}
.nav-link-4:hover {
  background-color: #7db1f1;
  border: solid 2px #3c669a;
  transition: all 200ms linear/ease-in-out;
}
/*Projects*/
.project-container {
  margin: 0px 60px;
  background-color: #ffffff;
}
.projects {
  padding: 30px;
}
.pic1-kritan,
.pic2-madde,
.weather-page {
  width: 600px;
  display: block;
  margin: 0 auto;
}
hr {
  width: 800px;
  display: block;
  margin: 0 auto;
}

.user-profile {
  width: 180px;
  display: block;
  margin: 0 auto;
}
.sign-up-form {
  width: 180px;
  display: block;
  margin: 0 auto;
}
.music-player {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.landing-page,
.error-page,
.setting-page {
  display: block;
  margin: 0 auto;
  width: 350px;
}
.weather-page {
  display: block;
  margin: 0 auto;
  width: 450px;
}
/*About Me*/
.h2-about-me {
  background-color: #f7d7e1;
}
.about-needle {
  width: 40px;
  display: block;
  margin: 0 auto;
}
.berlin,
.handcraft-cake,
.hiking {
  width: 330px;
}
.about-me-text {
  font-size: 30px;
  margin-top: 70px;
}
.container-about {
  background-color: #ffffff;
  margin: 30px;
}
/* Contact*/
.h2-contact {
  background-color: #c8e3f7;
  margin-bottom: 60px;
}
.needle {
  width: 40px;
  margin-left: 30px;
}
.contact {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #d7f9cd;
  width: 600px;
}
.contact-info {
  font-size: 25px;
  padding: 5px 30px 20px 30px;
  margin-left: 30px;
}
.contact-info a {
  text-decoration: none;
  color: #000000;
}

.contact-info a:hover {
  color: #41b590;
  transition: all 200ms linear/ease-in-out;
}

@media (max-width: 400px) {
  .menu {
    flex-direction: column;
  }
  h2 {
    width: 250px;
  }
  .contact-info {
    font-size: 23px;
    margin-left: 30px;
    padding: 5px 15px;
    margin-left: 10px;
  }
  .needle {
    width: 30px;
  }
  .about-needle {
    width: 30px;
  }
}
@media (max-width: 500px) {
  h1 {
    width: 300px;
    font-size: 45px;
  }
  .post-it-my-projects {
    width: 250px;
  }
  .post-it-contact {
    width: 180px;
  }
  .post-it-todo {
    width: 230px;
  }
  .post-it-about-me {
    width: 250px;
  }
  .post-it-quote {
    width: 230px;
  }
}
@media (max-width: 600px) {
  .post-it-quote {
    position: relative;
    left: 100px;
  }
  .intro-text {
    width: 500px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 651px) {
  .contact {
    width: 400px;
  }
  .contact-info {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 449px) {
  .contact {
    width: 300px;
  }
  .contact-info {
    margin-left: 0px;
    padding: 5px 15px;
  }
  .needle {
    width: 20px;
  }
}
@media only screen and (min-width: 150px) and (max-width: 299px) {
  .contact {
    width: 200px;
  }
  .contact-info {
    margin-left: 3px;
    font-size: 15px;
  }
  .needle {
    width: 15px;
  }
}
@media (max-width: 750px) {
  h3 {
    margin-bottom: 5px;
  }
  .menu {
    margin-bottom: 15px;
  }
  .about-me-text {
    margin-top: 0px;
  }
}
@media (max-width: 1200px) {
  .needle2 {
    visibility: hidden;
  }
  h3 {
    width: 200px;
  }
}
@media (max-width: 950px) {
  hr {
    width: 500px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 750px) {
  hr {
    width: 300px;
  }
}
@media only screen and (min-width: 341px) and (max-width: 499px) {
  hr {
    width: 200px;
  }
  .intro-text {
    width: 300px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 150px) and (max-width: 340px) {
  hr {
    width: 100px;
  }
  .intro-text {
    width: 200px;
    font-size: 15px;
  }
  .intro-2 {
    font-size: 10px;
  }
}
